h1 {
	text-align: center;
	color: red;
}

h2 {
	text-align: center;
	text-decoration-line: underline;
}

p {
	color: green;
	font-family: Tahoma;
}

ul {
	font-style: italic;
}

ol {
	font-weight: bold;
	font: 20px;
}